<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="br.com.am.cashdroid"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".ALogin"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".AUsuario"/> 
        <activity android:name=".APrincipal"/>
        <activity android:name=".ARegistrarGasto"/>
        <activity android:name=".ARelatorioPeriodo"/>
        <activity android:name=".ARelatorioPeriodoDefinido"/>
        <activity android:name=".ARelatorioDetalheSubCategoria"/>
        <activity android:name=".ARelatorioDetalheSubCategoriaData"/>
    
    </application>
    <uses-sdk android:minSdkVersion="7" />

</manifest> 